@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Madimi+One&family=Satisfy&display=swap');
.white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

:root{
  --animation-speed: 40s;
}
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 4));}
}

*{
  box-sizing: border-box;
  margin: 0;
}
body{
  color: black;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 10px;
  background-color: transparent;
  transition: 0.6s ease-in-out;
}
nav.active{
  box-shadow: 5px 10px 30px rgba(0,0,0,0.157);
  background-color: #000000;
}
nav>h1{
  font-size: 35px;
  font-family:'playfair display';
}
.auralogo{
  height: 30px;

}
.active{
  color: #186F65;
  text-decoration: none;
  transition: all ease 0.2s;
} 
nav li:hover{
  color: #0f5f56;
  border-radius: 2px;
  cursor: pointer;
}
.act{
  color: #186F65;
}
nav ul{
  display: flex;
}
nav .menu-btn,
.menu-icon{
		display:none;
	}

.menu{
  list-style-type: none;
  justify-content: space-around;
  color: white;
  text-shadow: 2px 1px 2px rgb(83, 82, 82);
}
li{
  padding: 10px;
}
h1>span{
  color: #06604f;
  text-decoration: none;
}
nav h1{
  color: white;
}
.upperprof{
  display: flex;
  width: 100px;
}
.upperprof>button{
  margin: 10px;
}
.profile{
  position: relative;
  top: -5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.icon{
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
}
#main{
  width: 100%;
  height: 590px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./images/Desktop3.png);
  z-index: -100;
}
#main h2{
  color: white;
  text-shadow: 2px 2px 2px grey;
  position: absolute;
  font-size: 90px;
  font-family: 'Gilda Display', serif;
  text-align: center;
  top: 13vw;
  left: 15vw;
}
#main h3{
  position: absolute;
  text-shadow: 2px 2px 2px rgb(139, 134, 134);
  top: 80%;
  color: rgb(252, 247, 241);
  text-align: left;
  left: 40px;
  font-size: 30px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#about{
  display: flex;
  height: 495px;
}
.aword{
  background: rgb(220,27,27);
  background: linear-gradient(to right, rgba(220,27,27,1) 0%, rgba(243,134,17,1) 25%, rgba(236,254,0,1) 50%, rgba(167,232,22,1) 75%, rgba(159,239,26,1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}
.first{
  padding: 40px;
  background-color: #555656;
  color: white;
  text-shadow: 1px 1px 4px 4px white;
}
.first h1{
  font-size: 60px;
  padding-bottom: 20px;
  color: white;
  font-family: 'Gilda Display', serif;
  text-shadow: 2px 2px 10px rgb(48, 43, 43);
}
.first>p{
  font-family: "Karla", sans-serif;
}
.whline{
  padding: 20px 0;
  width: 400px;
}
.linkabout{
  text-decoration: none;
  color: white;
  font-weight: 100;
  font-family: "Dancing Script", cursive;
}
.second{
  background-color: #0f5e5e;
}
.second .vdo{
  padding: 30px;
  height: 600px;
}
.second button{
  background-color: white;
  color: #0f5e5e;
  border: none;
  padding: 5px 40px 10px 40px;
  font-size: 20px;
  margin: 0 40px 30px 30px;
  position: relative;
  cursor: pointer;
}
.rec{
  border: 2px solid #0a4242;
  height: 40px;
  width: 160px;
  position: relative;
  top: -73px;
  left: 35px;
  cursor: pointer;
  border-radius: 10px;
}

/* Features code */
#feature{
  display: flex;
  background-image: url(./images/stockpic.jpg);
  padding: 40px;
}
.fone{
  margin-left: 70px;
}
.fone img{
  height: 300px;
  width: 300px;
}
.fone h1{
  font-size: 50px;
  padding-top: 10px;
  text-shadow: 1px 1px 7px rgb(148, 148, 148);
}
.ftwo h1{
  font-size: 45px;
  text-shadow: 1px 1px 7px rgb(148, 148, 148);
}
.ftwo>div>h1>span{
  text-shadow: 1px 1px 2px rgb(148, 148, 148);
}

/* CSS FOR EXTRA TAB */
#extra{
  display: flex;
  background-color: rgb(34, 185, 185);
  color: white;
  text-shadow: 4px 4px 6px grey;
  font-family: 'Gilda Display', serif;
}
#extra div{
  overflow: hidden;
  height: 400px;
  width: 300px;
  margin: 40px 10px 40px 150px;
  box-shadow: 2px 2px 14px 4px rgb(136, 134, 134);

}
#extra div img{
  height: 100%;
  transition: 0.2s all ease-in-out;
  box-shadow: 2px 2px 14px 4px rgb(136, 134, 134);
}
#extra div:hover img{
  transform: scale(1.1);
}
.extraitem{
  font-size: 70px;
  display: flex;
  align-items: center;
  padding: 40px;
}
.ftwo div{
  padding: 20px;
  margin-left: 60px;
}

/* Artwork css */
#art{
  background-color: #ff6600;
}

#art h1{
  color: white;
  text-shadow: 2px 2px 1px rgb(88, 88, 88);
  font-family: 'Gilda Display', serif;
  text-align: center;
  margin-top: 40px;
  font-size: 100px;
}

#art h4{
  color: white;
  text-align: center;
  font-size: 30px;
}
#art .rec{
  width: 440px;
  position: relative;
  left: 34%;
  border-color: white;
  top: 39px;
  z-index: 2;
  height: 55px;
}
#art button{
  position: relative;
  left: 33%;
  top: -10px;
  background-color:#0a4242;
  border: none;
  color: white;
  padding: 10px 110px;
  font-size: 30px;
  margin-bottom: 40px;
}
#art .rec:hover{
  transform: scale(1.06);
}
.part2 img{
  margin-bottom: 20px;
}

/* Register Login page css */
.but:hover{
  cursor: pointer;
}
#reg{
  position: relative;
}
.logoaura{
  height: 60px;
}
.popup{
  position: fixed;
  z-index: 100;
  margin: 30px 10%;
}
.closebut{
  z-index: 200;
  position: absolute;
  top: 40px;
  left: 134%;
  border: none;
  font-size: 20px;
}
.innerrg{
  background-color: white;
  display: flex;
  justify-content:space-between;
  border-radius: 10px;
  width: 140%;
  height: 500px;
  position: relative;
  left: -10px;
  top: 25px; 
}
.part1>img{
  height: 500px;
  width: 500px;
  border-radius: 10px 0 0 10px;
  position: absolute;
}
.slider{
  width: 98%;
  overflow: hidden;
  height: 200px;
  position: relative;
  left: 10px;
}
.images {
		animation: scroll var(--animation-speed) linear infinite;
		display: flex;
		width: calc(250px*13);
	}
.images>img{
  height: 130px;
  margin-top: 20px;
  margin-left: 10px;
  width: 148px;
}
	

.reglogo{
  position: relative;
  top: 40%;
  left: 40%;
  text-align: center;
  color: white;
  font-size: 30px;
}
.lastline>p>span{
  color: #06604f;
  text-decoration: none;
  text-shadow: 2px 2px 6px white;
}
.content{
  color: black;
  z-index: 100;
  text-align: center;
  position: relative;
  padding: 70px 40px 0 20px;
}
.content>h1{
  color: black;
font-size: 30px;
font-family: "Cinzel Decorative";
font-weight: 400;
word-wrap: break-word;
position: relative;
left: -20px;
}
.content>p{
  color: #A5A5A5;
  font-size: 15px;
font-family: Inter;
padding-bottom: 10px;
position: relative;
top: -20px;
}
.fm>div>input{
  width: 90%;
  height: 35px;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 15px;
  border-radius: 15px; 
  border: 1px #D9D9D9 solid;
}
.fm>button{
  height: 50%;
  width: 90%;
  border-radius: 20px;
  border: none;
  padding:10px 0;
  background-color: #0a4242;
  color: white;
  font-size: 14.59px;
  font-family: Inter;
  margin-bottom: 20px;
}

/* Gallery code */
#gallery{
  background-color: #000000;
  padding-bottom: 100px;
}
.blackbox{
  background-color: rgb(40, 37, 37);
  height: 100px;
  box-shadow: 2px 3px 80px 90px rgb(40, 37, 37);
  position: relative;
  top: 50%;
}
.bb2{
  background-color: rgb(0, 0, 0);
  height: 50px;
  box-shadow: 2px 3px 80px 90px rgb(0, 0, 0);
  position: relative;
  top: 60%;
}
.container>h1{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30%;
  font-size: 150px;
  text-align: center;
  color: white;
  font-family: "Caveat";
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
}
.container{
  height: 560px;
  background: url(./images/background2.jpeg);
}
.gbut{
  position: relative;
  top: 30%;
  z-index: 1;
}   
.gbut>button{
  position: relative;
  top: 70%;
  left: 400px;
  font-size: 20px;
  color: white;
  background-color: #06604f;
  padding: 10px 30px;
  text-shadow: 2px 2px 13px grey;
  margin: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 11px black;
}
.gbut>button:hover{
  cursor: pointer;
  transform: scale(1.01);
  background-color: #024136;
}
.but:hover{
  background-color: #024136;
}
#gallery>.contogg{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
.card{
  margin: 10px;
  position: relative;
  top: 100px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagescard{
  display: flex;
  flex: 50%;
  flex-wrap: wrap;
}
.imagescard:hover{
  transform: scale(1.07);
}
.gtimg{
  display: flex;
  height: 300px;
  width: auto;
  border-radius: 20px;
}
/* expanded card */

.expcard{
  height: 500px;
  width: 90%;
  background-color: white;
  position: fixed;
  z-index: 100;
  border-radius: 20px;
  top: -10%;
  margin: 10%;
  padding: 30px;
}
.expimg{
  height: 400px;
  width: auto;
}
.details{
  display: flex;
  padding-top: 20px;
}
.imgdiv{
  height: 100%;
  width: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail{
  padding: 0 40px;
  width: 500px;
}
.detail>h1{
  color: #06604f;
}
.detail>p{
  padding: 20px 0;
  color: #595959;
  font-family: cursive;
  position: relative;
  height: 100px;
}
.detail>p>span{
  color: black;
  position: relative;
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 20px;
  font-family: "Raleway", sans-serif;
}
.end{
  position: absolute;
  top: 4%;
  width: 50px;
  left: 94%;
}
.detail>h4{
  position: relative;
  top: 180px;
}
.g-button{
  display: flex;
  position: relative;
  top: 200px;
}
.g-button>button{
  margin-right: 5px;
  padding: 10px 40px;
}
/* code for careers page*/
#car{
  display: flex;
  padding: 50px 100px;
  background-color:rgb(104, 194, 197);
}
#car>img{
  height: 400px;
  padding: 0 20px;
}

.contcar{
  width: 60%;
  padding: 10px 30px;
  background-color: white;
}
.contcar>h1{
  font-size: 60px;
  font-family: 'Gilda Display', serif;
  padding-top: 20px;
  padding-bottom: 20px;
}
.contcar>h4{
  color: rgb(99, 99, 99);
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  padding-bottom: 20px;
}
.contcar>p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-bottom: 20px;
}
.carimg1{
  width: 90%;
  height: 10px;
  position: relative;
  left: 5%;
}
.carimg2{
  position: relative;
  left: 20%;
  width: 60%;
}
.contcar>h2{
  padding: 20px;
  font-size: 30px;
  text-align: center;
  font-family: "playfair display";
}
/* footer content */

.footpart1{
  background-color: rgb(35, 54, 96);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  color: white;
  height: 400px;
}
form>input{
  width: 90%;
  border:none;
  box-shadow: 0 2px grey;
  background-color: transparent;
  height: 40px;
  font-size: 20px;
  margin: 10px 0; 
  color: white;
}
form>button{
  margin: 20px 0;
  width: 90%;
}
button:hover{
  cursor: pointer;
}
button{
  background-color: #06604f;
  border: none;
  width: inherit;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
}
.footpart2{
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: rgb(2, 2, 71);
}
.footpart2>ul{
  list-style: none;
  display: flex;
}
.footpart2>p{
  display: flex;
  margin:10px 20px;
  justify-content: flex-end;
  text-align: end;
}
.headf{
  padding: 0 20px;
}
.headf>h1{
  padding-bottom: 20px;
}
.headf>p{
  padding-bottom: 20px;
}
form{
  padding: 0 20px;
}
form>h1{
  padding-bottom: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
form>p{
  padding-bottom: 20px;
}
.follow>h5{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  padding-bottom: 20px;
}
.follow>a{
  padding-right: 20px;
}

/* adding media query */
@media(max-width:1100px){
  .menu-icon{
  display:block;}
  nav{
      justify-content: space-between;
      height: 65px;
      padding: 0px 30px;
  }
  .menu{
    display:none;
    position:absolute;
    top:65px;
    left:0px;
    background-color:#000000;
    border-bottom:4px solid #FF1414;
    width:100%;
    padding:0px;
    margin:0px;
}
.menu li{
    width:100%;
}
nav .menu li a{
    width:100%;
    height:40px;
    justify-content: center;
    align-items: center;
    margin:0px;
    padding: 25px;
    border:1px solid rgba(38,38,38,0.03);
}
nav .menu-icon{
    cursor:pointer;
    float:right;
    padding:28px 20px;
    position:relative;
    user-select: none;
}
nav .menu-icon .nav-icon{
    background-color:#ffffff;
    display:block;
    height:2px;
    position:relative;
    transition: background 0.2s ease-out;
    width:24px;
}
  nav .menu-icon .nav-icon:before,
        nav .menu-icon .nav-icon:after{
            background:rgb(255, 255, 255);
            content:'';
            display:block;
            height:100%;
            position:absolute;
            transition:all ease-out 0.2s;
            width:100%;
        }
        nav .menu-icon .nav-icon:before{
            top:6px;
        }
        nav .menu-icon .nav-icon:after{
            top:-6px;
        }
        nav .menu-btn:checked ~ .menu-icon .nav-icon{
            background:transparent;
        }
        nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
            transform: rotate(-45deg);
            top:0;
        }
        nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
            transform: rotate(45deg);
            top:0;
        }
        nav .menu-btn{
            display:none;
        }
        nav .menu-btn:checked ~ .menu{
          display:block;
      }

  
}